---
title: "Kill chains"
layout: overview
permalink: /kill-chains
---
{% capture written_label %}'None'{% endcapture %}

<p>Kill chains represent the abuse lifecycles of specific business logic abuse cases. They describe the phases of the abuse, the order in which the abuse progresses through these phases, and the tactics and techniques employed by the adversary in each phase.</p>
<p>The kill chains for common business logic abuses are provided below:</p>
<!--{% include page__kc.html %}-->
{% include page__glossary.html %}
