---
title: "Kill chains"
layout: overview
permalink: /kill-chains
---
{% capture written_label %}'None'{% endcapture %}

<p>Kill chains represent the attack lifecycles of specific business logic attacks. They describe the phases of the attack, the order in which the attack progresses through these phases, and the tactics and techniques employed by the adversary in each phase.</p>
<p>The kill chains for common business logic attacks are provided below:</p>
<!--{% include page__kc.html %}-->
{% include page__glossary.html %}
