---
title: "Resources"
layout: archive
permalink: /pages/resources.html
---
<style>#page-title{display: none;}.archive{margin-top: 0;}</style>
{% capture written_label %}'None'{% endcapture %}

{% for collection in site.collections %}
  {% if collection.output == false or collection.label ==  "articles" or collection.label == "blogs"  or collection.label == "videos" %}
    {% capture label %}{{ collection.label }}{% endcapture %}
    {% if label != written_label %}
      <h2 id="{{ label | slugify }}" class="archive__subtitle">{{ label | capitalize  }}</h2>
      {% capture written_label %}{{ label }}{% endcapture %}
    {% endif %}
  {% endif %}
  {% for post in collection.docs %}
    {% if collection.output == false or collection.label ==  "articles" or collection.label == "blogs"  or collection.label == "videos" %}
        {% if collection.label == "videos"  %}
            {% include archive-single.html type = 'grid' %}
        {% else %}
            {% include archive-single.html %}
        {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

<div class="col-xs-12" style="padding-bottom:30px">
      <!--Normal FLipbook-->
      <div class="_df_book" height="500" webgl="true" backgroundcolor="teal"
              source="/assets/pdf/Business_Logic_Attacks_and_the_BLADE_Framework_report.pdf"
              id="df_manual_book">
      </div>
</div>