---
title: "Techniques"
layout: overview
permalink: /techniques
---
{% capture written_label %}'None'{% endcapture %}

<p>Techniques detail the specific actions or methods that may be employed by adversaries during business logic attacks. They are the low level activies that the adversary performs to achieve their tactical goal.</p>

<table class="blade-table">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Tactic(s)</th>
        <th>Phase(s)</th>
    </thead>
    <tbody>
        {%for technique in site.techniques %}
            <tr>
                <td><a href="{{technique.url}}" class="nowrap">{{ technique.ref-id}}</a></td>
                <td><a href="{{ technique.url }}">{{ technique.title }}</a></td>
                <td>
                    {% if technique.short-desc %}
                        {{ technique.short-desc | truncatewords:50 }}
                    {% else %}
                        {{ technique.excerpt | markdownify | strip_html | strip_newlines | escape_once | truncatewords:50 }}
                    {%endif%}
                </td>
                {% assign tactics = '' | split: '' %} 
                {% assign phases = '' | split: '' %} 
                {% for parent in technique.parent %}
                    {% assign newtactics = site.tactics | where_exp:"p", "p.id == parent" %}
                    {% assign tactics = tactics | concat: newtactics | uniq %}
                {%endfor%}
                {%for tactic in tactics %}
                    {% assign newphases = site.phases | where_exp:"p", "p.id == tactic.parent" %}
                    {% assign phases = phases | concat: newphases | uniq %}
                {%endfor%}
                <td>
                    {%for tactic in tactics %}
                        <a href="{{tactic.url}}">{{tactic.title}}</a>
                        {% if forloop.last == false %}
                        | 
                        {% endif %}
                    {%endfor%}  
                </td>
                <td>
                    {%for phase in phases %}
                        <a href="{{phase.url}}">{{phase.title}}</a>
                        {% if forloop.last == false %}
                        | 
                        {% endif %}
                    {%endfor%}  
                </td>
            </tr>
        {%endfor%}
    </tbody>
</table>