# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.mo binary
*.pdf binary
*.phar binary
*.wav binary
*.mp3 binary
*.ttf binary
*.woff binary
*.woff2 binary
*.eot binary
*.otf binary
#new file dflip asset
*.bcmap binary