{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<div class="{{ include.type | default: 'list' }}__item {{ post.collection }}">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <h2 class="archive__item-title no_toc" itemprop="headline">
    <!-- {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{% if teaser contains "://" %}{{ teaser }}{% else %}{{ teaser | relative_url }}{% endif %}" alt=""/>
      </div>
    {% endif %} -->

    <!-- External links -->
    {% if post.ext-link %}
      {% if post.publisher %}
        <a href="{{ post.ext-link }}" target="_blank"><b>{{post.publisher}}</b> - {{ title }}</a> 
      {% else %}
        <a href="{{ post.ext-link }}" target="_blank">[External] {{ title }}</a> 
      {% endif %}
    {% elsif post.link %}
      <a href="{{ post.link }}" target="_blank">{{ title }}</a> 
      <a href="{{ post.link | relative_url }}" rel="permalink" target="_blank">
          <i class="fas fa-link" aria-hidden="true" title="permalink"></i>
          <span class="sr-only">Permalink</span>
      </a>
    {% elsif post.download_file %}
      <a href="{% if post.download_file contains "://" %}{{ post.download_file }}{% else %}{{ post.download_file | relative_url }}{% endif %}" target="_blank">{{ title }}</a>
    {% endif %}
    <span>{{ post.date | date: "%-d %B %Y" }}</span>
    </h2>
    
    
    {% include page__meta.html type=include.type %}
  </article>
</div>