<div class="bootstrap-wrapper kill-chain">
    <div class="container-fluid">
        <div class="row">
            {% assign kc_tactics = site.tactics | where_exp: "p", "p.id contains page.slug" %}
            {% assign kc_tactics_size = kc_tactics | size %}
            {%for tactic in kc_tactics %}
            {% assign techniques = site.techniques | where_exp:"p", "p.parent == tactic.id" %}
                <div class="col-12 {% if kc_tactics_size < 7 %}col-lg-{{ 12 | divided_by: kc_tactics_size | floor }} {% else %} col-lg-2  {% endif %}">
                    <div class="row">
                        {% include elements/kc__tactic.html tactic=tactic techniques=techniques %}
                        <div class="accordian-ex {% if forloop.first == true %}first{%endif%} {% if forloop.last == true %}last{%endif%}">
                            <div class="tabs">
                                {%for technique in techniques %}
                                    {% assign subtechniques = site.subtechniques | where_exp:"p", "p.parent == technique.id" %}
                                    <div class="tab">
                                        {% include elements/kc__technique.html technique=technique %}
                                        {% include elements/kc__subtechniques.html subtechniques=subtechniques %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>
</div>