<script>
    function expandAll(){
        var inputs = document.getElementsByTagName("input");
        for(var i = 0; i < inputs.length; i++) {
            if(inputs[i].type == "checkbox") {
                inputs[i].checked = true; 
            }  
        }
    }

    function collapseAll(){
        var inputs = document.getElementsByTagName("input");
        for(var i = 0; i < inputs.length; i++) {
            if(inputs[i].type == "checkbox") {
                inputs[i].checked = false; 
            }  
        }
    }

</script>

<table id="matrix">
    <tr>
        <td><a href=#matrix onclick="expandAll()">Show Techniques</a></td>
        <td><a href=#matrix onclick="collapseAll()">Hide Techniques</a></td>
    </tr>
</table>

<div class="bootstrap-wrapper kill-chain">
    <div class="container-fluid">
        <div class="row">
            {% assign kc_phases = '' | split: '' %} 
            {% for phasetitle in page.phases %}
                {% assign newkc_phases = site.phases | where_exp:"p", "p.title == phasetitle" %}
                {% assign kc_phases = kc_phases | concat: newkc_phases %}
            {%endfor%}

            {% assign kc_phases_size = kc_phases | size %}

            {%for phase in kc_phases %}

                {% assign tactics = '' | split: '' %} 
                {% assign alltactics = site.tactics | where_exp:"p", "p.parent == phase.id" %}
                {% for tactictitle in page.tactics %}
                    {% assign newkc_tactics = alltactics | where_exp:"p", "p.title == tactictitle" %}
                    {% assign tactics = tactics | concat: newkc_tactics %}
                {%endfor%}
            
                <div class="col-12 col-lg">
                    <div class="row">
                        {% include elements/kc__phase.html phase=phase tactics=tactics %}
                        <div class="accordian-ex {% if forloop.first == true %}first{%endif%} {% if forloop.last == true %}last{%endif%}">
                            <div class="tabs">
                                {%for tactic in tactics %}

                                    {% assign techniques = '' | split: '' %} 
                                    {% assign alltechniques = site.techniques | where_exp:"p", "p.parent contains tactic.id" %}
                                    {% for techniquetitle in page.techniques %}
                                        {% assign newkc_techniques = alltechniques | where_exp:"p", "p.title == techniquetitle" %}
                                        {% assign techniques = techniques | concat: newkc_techniques %}
                                    {%endfor%}

                                    <div class="tab">
                                        {% include elements/kc__tactic.html tactic=tactic %}
                                        {% include elements/kc__techniques.html techniques=techniques %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>
</div>