/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jun 13, 2021, 10:46:10 PM
    Author     : X-2
*/
a{
    text-decoration: none;
}
.row{
    flex-wrap: wrap;
    display: flex;
    .w{
        &\-full{
            width: 100%;
        }
        &\-20{
            flex: 0 0 25%; 
            max-width: 25%
        }
        &\-60{
            flex: 0 0 50%; 
            max-width: 50%
        }
    }
} 
.align{
    &\-center{
        align-items: center;
    }
}
.page__content{
    .pc_technique{
        h2{
            border-bottom:none;
        }
        ul{
            padding-left: 1em;
            color: $link-color;
            &>li{
                margin-bottom: 0.1em;  
            }
        }
    }
}
.grid__item{
    &.videos{
        width: calc(100% - #{8px});
        margin-right: 0;
        margin-bottom: initial;
        height: auto;
        &:nth-child(4n){
            margin-right: 0;
        }
        .archive__item{
            height: auto;
        }
        .archive__item-teaser{
            max-height: unset;
        }
        @include breakpoint($medium){
            width: calc(50% - #{18px});
        }
        @include breakpoint($x-large){
            width: calc(25% - #{18px});
            margin-right: 16px;
        }
    }
}
.list__item{
    &.articles{
        .archive__item{
            display: list-item;
            color: $link-color;
            margin-left: 1em;
            margin-bottom: .6em;
            &::marker{
                font-size: .6em;
            }
            h2{
                padding: 0;
                margin: 0;
                font-size: $type-size-9-c;
                font-weight: 400;
                a{
                    text-decoration: none;
                }
            }
            p{
                padding: 0;
                margin: 0;
                color: $base00;
                font-size: $type-size-6;
            }
        }
    }
    &.blogs{
        .archive__item{
            margin-bottom: .6em;
            h2{
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: space-between;
                font-size: $type-size-9-c;
                font-weight: 400;
                a,span{
                    text-decoration: none;
                    color: $link-color;
                }
            }
            p{
                padding: 0;
                margin: 0;
                color: $base00;
                font-size: $type-size-6;
            }
        }
    }
}
.page__title{
    font-weight: 500;
}
.index{
    .entries-grid{
        @include breakpoint($medium){
            display: flex;
            justify-content: space-between;
        }
        .grid__item{
            @include breakpoint($medium){
                margin-left: 0;
                margin-bottom: 0;
            }
        }
    }
}
.kill-chain{
    .__headings{
        font-size: .80em;
        padding: 1em .4em;
        text-align: center;
        width: 100%;
        background: $footer-background-color;
        min-height: 5em;
        max-height: 5em;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 1em;
        &>a{
            display: block;
            font-size: .80em;
            font-weight: 500;
            width: 100%;
        }
        @include breakpoint($medium){
            margin: 2em 0 0.5em;
        }
    }
    .accordian-ex{
        padding-left: 7px;
        padding-right: 7px;
        max-width: 100%;
        width: 100%;
        &.first{
            @include breakpoint($medium){
                padding-left: 0;
            }
            @include breakpoint($x-large){
                padding-left: 0;
            }
        }
        &.last{
            @include breakpoint($medium){
                padding-right: 0;
            }
            @include breakpoint($x-large){
                padding-right: 0;
            }
        }
    }
}
/* home page grid */
.home_page{
    .accordian-ex{
        .tab-label{
            font-size: 12pt;
            font-weight: lighter;
            width: 100%;
            text-align: center;
            padding: 2em .5em;
            margin-bottom: 0;
            background: #000;
            justify-content: center;
            position: relative;
            &:hover{
                background: #000;
            }
            &::after {
                content: "\25BA";
                color: #fff;
                text-align: center;
                transition: all .35s;
                font-family: arial;
            }
            & > a{
                color: #fff;
                text-decoration: none;
                font-weight: 300;
                padding-bottom: 1em;
                margin-bottom: -1em;
                display: block;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 100%;
                &:after{
                    content: "";
                    position: absolute;
                    left: 3%;
                    bottom: 25%;
                    height: 4px;
                    background: #fff;
                    width: 94%;
                    -webkit-transition: all 0.2s ease-in-out;
                    transition: all 0.2s ease-in-out;
                    -webkit-transform: scaleX(0) translate3d(0, 0, 0);
                    transform: scaleX(0) translate3d(0, 0, 0);
                }
                &:hover{
                    text-decoration: none;
                    &:after{
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);
                    }
                }
            }
        }
        .tab-content{
            ul{
                li{
                    &>a{
                        font-size: .75em;
                    }
                }
            }
        }
        input[type=checkbox]:checked {
            + .tab-label {
                background: #000;
            }
        }
    }
    .container-fluid{
        &>.row{
            ._cust-pad{
                padding-left: 0;
            }
            ._cust-pad:nth-child(n+6){
                padding-right: 0;
            }
        }
    }
}