/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jun 13, 2021, 10:46:10 PM
    Author     : X-2
*/
a{
    text-decoration: none;
}
.row{
    flex-wrap: wrap;
    display: flex;
    .w{
        &\-full{
            width: 100%;
        }
        &\-20{
            flex: 0 0 25%; 
            max-width: 25%
        }
        &\-60{
            flex: 0 0 50%; 
            max-width: 50%
        }
    }
} 
.align{
    &\-center{
        align-items: center;
    }
}
.page__content{
    .pc_technique{
        h2{
            border-bottom:none;
        }
        ul{
            padding-left: 1em;
            color: $link-color;
            &>li{
                margin-bottom: 0.1em;  
            }
        }
    }
}
.grid__item{
    &.videos{
        width: calc(100% - #{8px});
        margin-right: 0;
        margin-bottom: initial;
        height: auto;
        &:nth-child(4n){
            margin-right: 0;
        }
        .archive__item{
            height: auto;
        }
        .archive__item-teaser{
            max-height: unset;
        }
        @include breakpoint($medium){
            width: calc(50% - #{18px});
        }
        @include breakpoint($x-large){
            width: calc(25% - #{18px});
            margin-right: 16px;
        }
    }
    &.reports{
        width: calc(100% - #{8px});
        height: auto;
         @include breakpoint($medium){
            width: calc(50% - #{18px});
        }
        @include breakpoint($x-large){
            width: calc(33.33% - #{18px});
            margin-right: 16px;
        }
        .archive__item-teaser{
            max-height: unset;
        }
        h2.archive__item-title{
            top: unset;
            bottom: 3rem;
            height: auto;
            display: block;
            padding: 0 .8rem;
            text-align: left;
            &>a{
                font-size: 1rem;
                font-weight: 500;
                &::after{
                    height: 0;
                }
                &:hover{
                    &::after{
                        -webkit-transform: none;
                        -ms-transform: none;
                        transform: none;
                    }
                }
            }
            small{
                display: block;
                color: #fff;
                margin-top: .5rem;
            }
        }
        .archive__item{
            height: inherit;
        }
        .archive__item-teaser{
            border-radius: 4px 4px 0 0;
        }
        .download_li_icon{
            background: #314151;
            margin-top: -.1rem;
            padding: .5rem;
            border-radius: 4px;
        }
    }
}
.list__item{
    
    &.articles{
        .archive__item{
            display: list-item;
            color: $link-color;
            margin-left: 1em;
            margin-bottom: .6em;
            &::marker{
                font-size: .6em;
            }
            h2{
                padding: 0;
                margin: 0;
                font-size: $type-size-9-c;
                font-weight: 400;
                span{
                    color: #fff;
                }
            }
            p{
                padding: 0;
                margin: 0;
                color: $base00;
                font-size: $type-size-6;
            }
        }
    }
    &.blogs{
        .archive__item{
            margin-bottom: .6em;
            h2{
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: space-between;
                font-size: $type-size-9-c;
                font-weight: 400;
                span{
                    color: #fff;
                }
            }
            p{
                padding: 0;
                margin: 0;
                color: $base00;
                font-size: $type-size-6;
            }
        }
    }    
    &.ext-references{
        .archive__item{
            margin-bottom: .6em;
            h2{
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: space-between;
                font-size: $type-size-9-c;
                font-weight: 400;
                span{
                    color: #fff;
                }
            }
            p{
                padding: 0;
                margin: 0;
                color: $base00;
                font-size: $type-size-6;
            }
        }
    }
    &.videos{
        .archive__item{
            margin-bottom: .6em;
            h2{
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: space-between;
                font-size: $type-size-9-c;
                font-weight: 400;
                span{
                    color: #fff;
                }
            }
            p{
                padding: 0;
                margin: 0;
                color: $base00;
                font-size: $type-size-6;
            }
        }
    }
    &.reports{
        .archive__item{
            margin-bottom: .6em;
            h2{
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: space-between;
                font-size: $type-size-9-c;
                font-weight: 400;
                span{
                    color: #fff;
                }
            }
            p{
                padding: 0;
                margin: 0;
                color: $base00;
                font-size: $type-size-6;
            }
        }
    }
}
.page__title{
    font-weight: 500;
}
.index{
    .entries-grid{
        @include breakpoint($medium){
            display: flex;
            justify-content: space-between;
        }
        .grid__item{
            @include breakpoint($medium){
                margin-left: 0;
                margin-bottom: 0;
            }
        }
    }
}
.kill-chain{

    position: relative;
    margin-top: 50px;
    
    .container-fluid > .row{
        flex-wrap: wrap;
        gap: 2px;  

        @include breakpoint($medium) {
            flex-wrap: nowrap;
        }
    }

    .col-12 {
        background-color: $light-gray;
    }
    
    &::before {
        content: "";
        position: absolute;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
        top: -50px;
        min-height: 100vh;
        height: calc(100% + 120px);
        background-color: #000;
        z-index: -1;
    }

    .__headings{
        font-size: .9rem;
        font-weight: 500;
        padding: 1em .4em;
        text-align: center;
        width: 100%;
        background: $gray;
        min-height: 5em;
        max-height: 5em;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        border-bottom: 2px solid #000;

        &>a{
            display: block;
            font-size: .80em;
            font-weight: 500;
            width: 100%;
        }
    }
    .accordian-ex{
        padding:0;
        max-width: 100%;
        width: 100%;
        &.first{
            @include breakpoint($medium){
                padding-left: 0;
            }
            @include breakpoint($x-large){
                padding-left: 0;
            }
        }
        &.last{
            @include breakpoint($medium){
                padding-right: 0;
            }
            @include breakpoint($x-large){
                padding-right: 0;
            }
        }

        .tab {
            padding: 0;
            margin: 0;
        }
        .tab-label {
            background-color: transparent;
            width: 100%;
            display: flex;
            margin-bottom: 0px;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding: 10px;

            @include breakpoint($medium) {
                padding: 15px 20px;
            }
            
            &::after {
                content: "";
                color: #fff;
                text-align: center;
                transition: all .35s;
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent url('/assets/images/arrow-down-white.svg') no-repeat center center;
                background-size: auto 5px;
                border-radius: 5px;
            }

            a{
                color: $link-color;
                font-size: 0.75rem;
            }

            &:hover {
                background-color: transparent;
            }
        }

        .tab-content {
            background: $gray;
            padding: 0;

            li{
                padding: 0;
                border: none;
            }

            a {
                color: #fff;
                padding: 10px;
                font-size: 0.75rem;
                transition: all .35s;

                @include breakpoint($medium) {
                    padding: 10px 20px;
                }

                &:hover {
                    text-decoration: underline;
                    color: $link-color;
                }
            }
        }

        input[type=checkbox]:checked { 
            + .tab-label {
                background-color: #000;
                &::after {
                    background-color: $link-color;
                    transform: none;
                    background-image: url('/assets/images/arrow-up.svg');
                }
            }
        }
    }
}

// glossay page
.glossary-kc{
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap:1px;
    }
    .gl_sect{
        width: 100%;
    }
    .links_list_sec{ padding: 6.35rem 0rem;}
    .links_list { 
        &> li{ 
            border-top: 1px solid $dark-gray; 
            background: $light-gray;
            position: relative; 
            display: flex;
            align-items: center;
            margin-bottom: 0;
        }
        &> li{
            &:first-child{ 
                border-top: 0px;
            }
        }
    }
    .link_alphabets_title { 
        font-size: 3rem; 
        font-weight: 500;
        line-height: 1; 
        color: $green;
        min-width: 20%;
        align-items: center;
        display: flex;
        justify-content: flex-start;
        text-align: left;
        padding: 20px;
        min-height: 5rem;

        @include breakpoint($medium) {
            padding: 50px;
        }
    }
    .links_list_block{ 
        width: 75%; 
        display: flex; 
        flex-direction: row;
        -ms-flex-wrap: wrap; 
        flex-wrap: wrap; 
        gap: 20px;
        padding: 20px;
        margin: 0; 
        height: auto; 
        li{ 
            margin: 0;
            a{ 
                font-size: .8rem; 
                font-weight: 300; 
                color: $link-color; 
                text-decoration: underline;
                &:hover{ 
                    color: #333333;
                }
            }
        }
    }
}
/* BLADE Framework grid */
.blade_framework{

    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
        top: -50px;
        min-height: 100vh;
        height: calc(100% + 120px);
        background-color: #000;
        z-index: -1;
    }

    .row{
        flex-wrap: wrap;
        gap: 2px;  

        @include breakpoint($medium) {
            flex-wrap: nowrap;
        }
    }

    .tab {
        background: $light-gray;
    }
    .accordian-ex{
        .tab{
            margin: 0;
        }
        .tab-label{
            font-size: 0.9em;
            font-weight: medium;
            width: 100%;
            text-align: left;
            padding: 50px 10px 10px 10px;
            margin-bottom: 0;
            justify-content: space-between;
            align-items: center;
            position: relative;
            border-bottom: 2px solid $dark-gray;

            @include breakpoint($large) {
                padding: 50px 20px 15px 20px;
            }

            &[for="01-resource-development-1"] {
                background: #CFF57A !important;
            }
            &[for="02-reconnaissance-2"] {
                background: #F5CA7A !important;
            }
            &[for="03-defence-bypass-3"] {
                background: #7AF5C1 !important;
            }
            &[for="04-attack-execution-4"] {
                background: #C2F0EB !important;
            }
            &[for="05-actions-on-objective-5"] {
                background: #C4C4C4 !important;
            }
            &[for="06-post-attack-6"] {
                background: #D7BBE0 !important;
            }
            &::after {
                content: "";
                color: $dark-gray;
                background: transparent url('/assets/images/arrow-down.svg') no-repeat center center;
                background-size: auto 12px;
                transform: rotate(-90deg);
                text-align: center;
                transition: all .35s;
                height: 20px;
                width: 20px;
                font-family: $global-font-family;
            }
            & > a{
                color: $dark-gray;
                text-decoration: none;
                font-weight: 500;
                display: block;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 100%;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .tab-content{
            padding: 0;
            background-color: transparent;
            ul{
                li{
                    display: list-item;
                    border: none;
                    padding: 0;
                    &>a{ 
                        font-size: 0.75em;
                        color: $link-color;
                    }
                }
            }
        }
        .tab-sublabel{
            font-size: 0.75em;
            width: 100%;
            display: flex;
            margin-bottom: 0;
            padding: 10px;
            justify-content: space-between;
            align-items: center;
            position: relative;
            

            @include breakpoint($large) {
                padding: 15px 20px;
            }

            &::after {
                content: "";
                color: #fff;
                text-align: center;
                transition: all .35s;
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent url('/assets/images/arrow-down-white.svg') no-repeat center center;
                background-size: auto 5px;
                border-radius: 5px;
            }
            & > a{
                color: $link-color;
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
                width: auto;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .tab-subcontent{
            width: 100%;
            padding: 0;
            display: none;
            background-color: $gray;
            ul{
                li{
                    &>a{
                        padding: 10px;
                        color: #fff; 
                        font-size: 0.75em;
                        &:hover{
                            text-decoration: underline;
                            color: $link-color;
                        }
                        

                        @include breakpoint($large) {
                            padding: 10px 20px;
                        }
                    }
                }
            }
        }
        input[type=checkbox]:checked {
            + .tab-label {
                &::after {
                    transform: rotate(0deg);
                }
            }
            + .tab-sublabel {
                background-color: #000;
                &::after {
                    background-color: $link-color;
                    background-image: url('/assets/images/arrow-up.svg');
                }
            }
            ~ .tab-subcontent {
                display: block;
            }
        }
    }
    .container-fluid{
        &>.row{
            ._cust-pad{
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}
.nowrap{
    white-space: nowrap;
}
.align-right {
    width: fit-content;
    margin-right: 0px;
    margin-left: auto;
}
.overview {
    p {
        font-size: 14pt;
        font-weight: 300;
    }
}

#main {
    padding: 50px 20px;
    @include breakpoint($medium) {
        padding: 50px;
    }
}

.page {
    
    .page__content {
        *.standfirst {
            font-size: $type-size-3;
            line-height: normal;
            @include breakpoint($medium) {
                font-size: $type-size-2;
            }
            @include breakpoint($large) {
                font-size: 1.82rem;
                line-height: 2rem;
            }
        }

        .columns {
                column-count: 1;
                column-gap: 2em;

                @include breakpoint($large) {
                    column-count: 2;
                }
        }
    }
}


.button,
a.button {
    border-radius: 5px;
    background-color: $link-color;
    color: $dark-gray;
    text-transform: uppercase; 
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    letter-spacing: 1.2px;
    border: none;
}

.layout {
    &--home{
        background-color: #090909;
        background-image: url('/assets/images/spiral.png');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: contain;

        .page__content {
            max-width: 100%;

            @include breakpoint($x-large) {
                max-width: 70%;
            }
        }
    }
}

/*
 *  Matrix table filter
 */
#matrix  { 
    overflow: visible;
    position: relative;
    margin-top: 70px;
    margin-bottom: 20px;
    width: auto;
    display: table;

    &::before {    
        content: "";
        position: absolute;
        width: 100vw;
        height: calc(100% + 40px);
        background-color: #000;
        left: -20px;
        top: -20px;
        z-index: -1;
        clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 0 100%);
    }

    @include breakpoint($medium) {
        &::before {    
            left: auto;
            right: -100px;
            clip-path: polygon(0 0, calc(100% - 50px) 0, 100% 100%, 0 100%);
        }
    }

    td{
        border: none;
    }

    a {
        border-radius: 5px;
        background-color: $link-color;
        color: $dark-gray;
        font-size: 12px;
        padding: 5px 10px;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
        display: inline-flex;

        @include breakpoint($medium) {
            padding: 5px 15px;
            font-size: 16px;
        }
    }

}

#page-title {
    color: $green;
    font-weight: 400;
    font-size: 1.8rem;
}

.initial-content {
   overflow: hidden;
}

/* Table style for green 'Blade' full width tables*/
.blade-table {
        width: 100%;
        margin-top: 50px;
        display: table;

        thead {
            background-color: $green;
            color: $dark-gray;
            border: none;

            th {
                padding: 15px 20px;
                border: 1px solid $dark-gray;
                font-weight: normal;
                font-size: 0.9rem;
            }
        }

        tbody {
            width: 100%;

            td {
                background-color: $light-gray;
                padding: 15px 20px;
                border: 1px solid $dark-gray;
            }

            a{
                text-decoration: underline;
            }
        }
}

.archive__subtitle,
.page__content h2 {
    border-color: $green;
    color: $green;
    font-weight: 500;
    font-size: 1.7rem;
    text-transform: none;
}

hr{
    background-color: $green;
    border-color: $green;
    margin-top: -5px;
    margin-bottom: 20px;
}

.search-content__form {
    padding: 1em 0;
}

// Cookie Popup

.cookie-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0000005c;
    backdrop-filter: blur(5px);
    border: none;
    z-index: 9999;
    
    &--visible {
        display: flex;
    }

    &__container {
        width: 100%;
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        border: none;
        background: #000;
        border-top: 1px solid $green;
    }

    &__content {
        max-width: 1920px;
        padding: 50px;
        margin: 0 auto;
        display: flex;
        gap: 10px;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }

    &__columns {
        display: flex;
        gap: 20px;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;

        @include breakpoint($medium) {
            flex-direction: row;
            gap: 100px;
        }
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 400;
        color: $green;
        margin: 0;
        font-family: $global-font-family;
    }

    &__description {
        font-size: 12px;
        line-height: 1rem;
        color: #fff;
        margin: 0;
        
        @include breakpoint($medium) {
            font-size: 0.75rem;
        }
    }

    &__buttons {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: flex-end;
    }

    #cookie-popup-decline{
        background: $gray;
        color: #a5a5a5;
    }
}