---
layout: single
classes: index
---


<p class="standfirst">The <a href="/matrix">OWASP Business Logic Attack Definition (BLADE) Framework</a>, is an open-source knowledge-base created to help cybersecurity professionals identify the <a href="/phases">phases</a>, <a href="/tactics">tactics</a> and <a href="/techniques">techniques</a> used by adversaries to exploit weaknesses in the business logic of web facing systems (websites and APIs).</p>
<div class="columns">
<p>There are a range of attack frameworks (such as Mitre ATT&CK and Lockheed-Martin Kill Chain) available to allow cyber-security experts to model and respond to traditional cyber-attacks which aimed to exploit technology weaknesses in systems. These frameworks are not well suited for modelling business logic focused attacks yet these kind of attacks are becoming increasingly common.<p>
<p>Netacea's threat research team has worked with a range of security professionals to capture real world experience into a <a href="/matrix">framework</a> that captures the range of business logic attack types into a series of comprehensive <a href="/kill-chains">kill chains</a>, to allow security professionals to take a proactive approach in putting in defences against automated and business logic targeted attacks.</p>
<p>If you wish to provide feedback or join the project team, please refer to the <a href="/contribute">Contribute</a> page for guidelines on how to do so. For further guidance on how to read and understand the framework please refer to the <a href="/resources">Resources</a> page. </p>
<p>Not sure where to begin? Read our <a href="/assets/pdf/BLADE_guide_2022.pdf">'Getting Started with the OWASP BLADE Framework'</a> guide.</p>
<p><a class="button" href="/matrix">Continue to the OWASP BLADE Framework matrix</a></p>
</div>