---
layout: single
---
<table>
    <tr>
        <td>id</td>
        <td>{{page.id}}</td>
    </tr>
    <tr>
        {% if page.parent %}
            <td>parent</td>
            <td><a href="{{page.parent}}">{{page.parent}}</a></td>
        {%endif%}
    </tr>
</table>

{{content}}

{% assign techniques = site.techniques | where_exp:"p", "p.parent == page.id" %}
{% assign subtechniques = site.subtechniques | where_exp:"p", "p.parent == page.id" %}

{% if techniques.size > 0 %}
    <h2>Techniques</h2>
    <ul>
        {%for technique in techniques %}
            <li><a href="{{ technique.url }}">{{technique.title}}</a></li>
        {%endfor%}
    </ul>
{%endif%}

{% if subtechniques.size > 0 %}
    <h2>Subtechniques</h2>
    <ul>
        {%for subtechnique in subtechniques %}
            <li><a href="{{ subtechnique.url }}">{{subtechnique.title}}</a></li>
        {%endfor%}
    </ul>
{%endif%}
