/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  @include clearfix;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  margin-top: 0;
  color: $muted-text-color;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
  background-color: $footer-background-color;

  footer {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 15px 20px;

    @include breakpoint($medium) {
      padding: 15px 50px;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .fas,
  .fab,
  .far,
  .fal {
    color: $muted-text-color;
  }
}

.page__footer-copyright {
  font-family: $global-font-family;
  font-size: $type-size-7;
  text-align: center;
}

.page__footer-follow {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: max-content;
  }

  li {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: $sans-serif-narrow;
    font-size: $type-size-6;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  li + li:before {
    content: "";
    padding-right: 5px;
  }

  a {
    padding-right: 10px;
  }

  .social-icons {
    a {
      white-space: nowrap;
      transition: all 0.3s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      .fab {
        font-size: $type-size-3;
      }

      &:hover {
        text-decoration:  none;
        opacity: 0.5;
      }
    }
  }
  .fw-center {
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $masthead-link-color;
    font-size: $type-size-4;
    gap: 15px;
    flex-basis: 100%;
    width: 100%;
    
    @include breakpoint($medium) {
      justify-content: flex-end;
      flex-direction: row;
      align-items: center;
      gap: 25px;
      max-width: 75%;
      flex-basis: 75%;
    }
  }
  .column-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 100%;
    
    @include breakpoint($medium) {
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      text-align: center;
      gap: 25px;
    }

    .w-20 {
      width: 155px;
    }
  }
}

